html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    max-width: 1400px;
  margin: auto auto;
  width: 100%;
  /* border: 3px solid red; */
  background: #21252904;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
