.orange{
  color: #F39C12;
}
.vgrey{
  color: #8F8F90;
}
.modalBtn{
  background-color: #BB2D3B;
  color: #fff;
  font-weight: bold;
}
.doneButton{
  font-weight: bold;
  background: #fff;
  color: #8F8F90;
}
.allDoneButton{
  font-weight: bold;
  background: #fff;
  color: #8F8F90;
}
.modalContact{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.modalContactSpan{
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 12rem;
  margin: 5px;
}
.modalCard{
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 5px;
}
.modalCardItem{
  width:13rem;
}

.modalCardItem:hover{
  transform: scale(1.03);
}
.modalCardItem:active{
  transform: scale(0.9);
}